// NAVBAR 

nav {
    #top-nav{

        @include basic-flex(space-between);

        height: 60px;
        width:  100vw;
        background-color: #000;

        #adobe-logo{

            height:  100%;
            width:   74px;
            padding: 0px 20px;
            background-color: #222;
        }

        ul {

            @include basic-flex();

            height: 100%;
            width:  auto;
            background-color: #444;

            li {

                @include basic-flex();

                height: 100%;
                width: auto;
                padding: 0px 20px;
                background-color: #777;
            }
        } // ul

        #account-info{
            
            @include basic-flex();

            height: 100%;
            width: auto;
            background-color: #444;

            div{
                height:  20px;
                width:   20px;
                padding: 10px;
                background-color: #AAA;

            }
        }
        
    } //top-nav
    #bottom-nav{

        @include basic-flex();

        height: 80px;
        width:  100vw;
        background-color: #CCC;

        ul {
            height: 100%;
            width: auto;
            background-color: #eee;

            @include basic-flex();

            li {
                padding: 0px 18px;
            }

        }

    } //bottom-nav
} //nav