// HOME


video{
    position: fixed;
    top: 60px;
    width:100%;
    z-index: -1;
    

}
#home-hero {
    @include basic-flex();

    height: auto; 
    min-height: 70vh;

    width: 100vw;
  
    #home-hero-content {
        @include basic-flex(center, center, column);

        height: auto;
        width: 70vw;
        color: #fff;

        h1{
            padding: 28px 0px 0px 0px;
            font-size: 45px;
            font-weight: 800;
        }
        h2{
            padding: 0px 0px 28px 0px;
            width: 80%;
            font-size: 20px;
            text-align: center;
            line-height: 30px;
        }
        .cta {
            margin: 0px 0px 120px 0px;
        }
        >#creative-cloud{
            display: flex;
           
            height: 84px;
            width: 112px;
            background: url("/assets/imgs/creativeCloudIcon.png");
            background-size: 112px 84px;

            
            p{
                justify-self: center;
                align-self: center;  
            }
            
        }

    } //#home-hero-content
} //#home-hero